/* Importa Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aquí puedes agregar tus estilos personalizados */

html {
    font-family: 'Jost Variable', system-ui, sans-serif;
    background: #000000;
}

.espacio-extra {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}